<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="spring-data">
        <import resource="classpath:applicationContext-repository-springdata.xml" />
    </beans>

    <beans profile="jpa">
        <import resource="classpath:applicationContext-repository-jpa.xml" />
    </beans>

</beans>
