<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <cache:annotation-driven/>

    <bean name="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean p:name="userByOpenId"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>
                <bean p:name="userById"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>
                <bean p:name="users"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>

                <bean p:name="tags"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>
                <bean p:name="tagById"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>

                <bean p:name="flashcardById"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>
                <bean p:name="flashcards"
                      class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>
            </set>
        </property>
    </bean>

</beans>
